<p id="notice"><%= notice %></p>

<div class='well movie-listing col-md-6 col-md-offset-3 center'>

  <p>
    <strong>Title:</strong>
    <%= @movie.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>

  <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-sm btn-primary' %> |
  <%= link_to 'Back', movies_path, class: 'btn btn-sm btn-primary' %>
</div>
